{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            "ie >= 11"
          ],
          "esmodules": true
        }
      }
    ]
  ]
}