@import '~@s-ui/react-atom-input/lib/index';
@import '~@s-ui/react-atom-textarea/lib/index';
@import '~@s-ui/react-molecule-field/lib/index';
@import '~@schibstedspain/sui-atom-button/lib/index';

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    overflow: hidden;
}